/* HEADER */
@media screen and (min-width: 768px) {
  .coming-soon .et_pb_fullwidth_header, .home-fullwidth-header .et_pb_fullwidth_header {
    background-position: initial; } }

.home-fullwidth-header .sub-heading-1 {
  padding-bottom: 50px;
  padding-top: 115px;
  font-size: 15px; }

.home-fullwidth-header .heading-title {
  font-size: 50px;
  padding-bottom: 25px;
  color: #4c4c4c;
  font-weight: bold; }

.home-fullwidth-header .sub-heading-2 {
  padding-bottom: 65px;
  font-size: 35px;
  color: orange;
  font-weight: 500; }

.home-fullwidth-header .content {
  font-size: 30px;
  line-height: 40px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: justify; }

#footer-bottom .container, #main-footer .container {
  margin-right: 8.773%;
  margin-left: 8.773%;
  width: 80.454% !important;
  max-width: 94.454%; }

.used-technology .et_pb_bg_layout_dark h4 {
  font-weight: bold;
  color: orange !important; }

.used-technology .et_pb_bg_layout_dark p {
  text-align: justify;
  color: #4c4c4c; }

.about-ayrah .title {
  text-align: center;
  font-size: 40px; }

.about-ayrah p {
  font-size: 18px;
  line-height: 25px; }

@media only screen and (min-width: 768px) and (max-width: 980px) {
  .about-ayrah .about-ayrah-img img {
    padding-top: 70px; } }

@media only screen and (max-width: 1024px) {
  .about-ayrah .about-ayrah-summary {
    padding: 40px 40px 40px 40px !important; }
  .about-ayrah p {
    font-size: 12px; }
  .about-ayrah .title {
    font-size: 25px;
    line-height: 1.5; } }
